.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0); /* Black w/opacity/see-through */
    color: brown;
    font-weight: bold;
    border: 1.5px solid #f1f1f1;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, 50%);
    z-index: 2;
    width: 40%;
    padding: 20px;
    text-align: center;
  }

  .bg-image {
   /* background-color: rgb(0,0,0); /* Fallback color */
   /* background-color: rgba(0,0,0, 0.1); /* Black w/opacity/see-through */
    /*color: purple; */
    font-weight: bold;
   /* border: 1.5px solid powderblue; */
    border-radius: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-120%, -80%);
    z-index: 2;
    width: 40%;
    padding: 20px;
    text-align: center;
  }

  .bg-text2 {
    /* background-color: rgb(0,0,0); /* Fallback color */
    /* background-color: rgba(0,0,0, 0.1); /* Black w/opacity/see-through */
     /*color: purple; */
     font-weight: bold;
    /* border: 1.5px solid powderblue; */
     border-radius: 100px;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-280px, -240px);
     z-index: 2;
     width: 40%;
     padding: 20px;
     text-align: center;
   }


   .bg-text3 {
    /* background-color: rgb(0,0,0); /* Fallback color */
    /* background-color: rgba(0,0,0, 0.1); /* Black w/opacity/see-through */
     /*color: purple; */
     font-weight: bold;
    /* border: 1.5px solid powderblue; */
     border-radius: 100px;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-220px, -160px);
     z-index: 2;
     width: 40%;
     padding: 20px;
     text-align: center;
   }

   .resume {
     background-color: crimson;
    /* background-color: rgba(0,0,0, 0.1); /* Black w/opacity/see-through */
     /*color: purple; */
     font-weight: bold;
    /* border: 1.5px solid powderblue; */
     border-radius: 50%;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-20px, -80px);
     z-index: 2;
     width: 100px;
     height: 100px;
     padding: 20px;
     text-align: center;
   }

   .projects {
     background-color: aqua;
    /* background-color: rgba(0,0,0, 0.1); /* Black w/opacity/see-through */
     /*color: purple; */
     font-weight: bold;
    /* border: 1.5px solid powderblue; */
     border-radius: 50%;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(160px, -80px);
     z-index: 2;
     width: 100px;
     height: 100px;
     padding: 20px;
     text-align: center;
   }

   .contact {
     background-color: yellow;
    /* background-color: rgba(0,0,0, 0.1); /* Black w/opacity/see-through */
     /*color: purple; */
     font-weight: bold;
    /* border: 1.5px solid powderblue; */
     border-radius: 50%;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(340px, -80px);
     z-index: 2;
     width: 100px;
     height: 100px;
     padding: 20px;
     text-align: center;
   }

   .des {
    /*background-color: yellow;
   /* background-color: rgba(0,0,0, 0.1); /* Black w/opacity/see-through */
    /*color: purple; */
    font-weight: bold;
   /* border: 1.5px solid powderblue; */
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20px, 60px);
    z-index: 2;
    width: 550px;
    padding: 20px;
    text-align: center;
  }

  .heading{
    background-color: pink;
    width: 100%;
    height: 55px;
    text-decoration: none;
    color: white;
    display: flex;
    font-size: 40px;
}

  .footers{
  background-color: salmon;
	position: fixed;
	bottom:0;
	left: 0;
	width: 100%;
  display: flex;
}

.sides{
  float: left;
  margin-top: 40px;
  margin-left: 80px;
  border-radius: 50%;
  border-color: pink;
  border-width: 10px;
  border-style: solid;
}

.story{
  float: right;
  margin-top: 75px;
  margin-right: 80px;
  font-size: 28px;
  text-align: center;
}

cir{
    background-color: pink;
    border-radius: 50%;
    display: inline-block;
    width: 100px;
    font-size: 22px;
    height: 80px;
    padding: 40px;
    margin-left: 30px;
}

.logs{
  text-align: justify;
  color: black;
  font-size: 58px;
}

.log1{
  text-align: justify;
  color: LightSkyBlue;
  font-size: 60px;
}

.log2{
  color: white;
  font-size: 55px;
}